<div class="breadcrumb-bar breadcrumb-bar-info" style="background-color: #ffffff;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="breadcrumb-list">
          <h2 class="breadcrumb-title"><%= breadcrumb_title %></h2>
        </div>
      </div>
    </div>
  </div>
</div>