<footer class="footer">

<div class="footer-top">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6">

<div class="footer-widget footer-about">
<div class="footer-logo">
<h1 style="font-weight: bold;"><%= link_to "Med'ressa", root_path %></h1>
</div>
<div class="footer-about-content">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="footer-contact-info">
<div class="footer-address">
<i class="bi bi-location"></i>
<p> Gudele 1, Block 4, Juba,<br> South Sudan </p>
</div>
<p>
<i class="bi bi-mail"></i>
<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f89c8a9d99958b94958bb89d80999588949dd69b9795">support@medressa.ai</a>
</p>
<i class="bi bi-phone"></i>
+211 923 456 789
</p>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="footer-bottom">
<div class="container">

<div class="copyright">
<div class="row">
<div class="col-md-6">
<div class="privacy-policy">
<ul>
<li><a href="term-condition.html">Terms</a></li>
<li><a href="privacy-policy.html">Privacy</a></li>
</ul>
</div>
</div>
<div class="col-md-6">
<div class="copyright-text">
<p class="mb-0">&copy; 2024 Med'ressa. All rights reserved.</p>
</div>
</div>
</div>
</div>

</div>
</div>

</footer>